<div class="dashboard-container">
  <div class="dashboard-header">
    <h1>Tableau de bord</h1>
    <p class="welcome-message" *ngIf="administrateurConnecte">
      Bienvenue, <span class="highlight">{{ administrateurConnecte.prenom }} {{ administrateurConnecte.nom }}</span> !
    </p>
  </div>
  <p class="intro">Bienvenue sur l’espace de gestion du site Olympique Villeurbanne Taekwondo.</p>

  <div class="dashboard-grid">
    <a (click)="navigateToHoraires()" class="dashboard-card">
      <div class="icon-container">
        <i class="fas fa-clock"></i>
      </div>
      <h3>Horaires</h3>
      <p>Gérer les créneaux, cours et disponibilités</p>
    </a>

    <a (click)="navigateToprofesseurs()" class="dashboard-card">
      <div class="icon-container">
        <i class="fas fa-chalkboard-teacher"></i>
      </div>
      <h3>Professeurs</h3>
      <p>Ajouter ou modifier les enseignants</p>
    </a>

    <a (click)="navigateToavis()" class="dashboard-card">
      <div class="icon-container">
        <i class="fas fa-comments"></i>
      </div>
      <h3>Avis</h3>
      <p>Modérer et consulter les retours</p>
    </a>

    <a routerLink="/admin/inscriptions" class="dashboard-card">
      <div class="icon-container">
        <i class="fas fa-user-plus"></i>
      </div>
      <h3>Inscriptions</h3>
      <p>Suivre les demandes et candidatures</p>
    </a>

    <a (click)="navigateToGalerie()" class="dashboard-card">
      <div class="icon-container">
        <i class="fas fa-images"></i>
      </div>
      <h3>Galerie</h3>
      <p>Ajouter photos et vidéos</p>
    </a>

    <a (click)="navigateToActualites()" class="dashboard-card">
      <div class="icon-container">
        <i class="fas fa-newspaper"></i>
      </div>
      <h3>Actualités</h3>
      <p>Gérer les articles et annonces</p>
    </a>

    <a (click)="navigateToDocument()" class="dashboard-card">
      <div class="icon-container">
        <i class="fas fa-file-alt"></i>
      </div>
      <h3>Documents</h3>
      <p>Gérer les documents soumis par les membres</p>
    </a>
    
    <a (click)="navigateToPaiement()" class="dashboard-card">
      <div class="icon-container">
        <i class="fas fa-file-alt"></i>
      </div>
      <h3>Paiement</h3>
      <p>Gérer les paiements effectués par les membres pour les cotisations</p>
    </a>

    <!-- Carte corrigée pour la gestion des commandes -->
    <a (click)="navigateToGestionCommande()" class="dashboard-card">
      <div class="icon-container">
        <i class="fas fa-shopping-cart"></i>
      </div>
      <h3>Commandes</h3>
      <p>Gérer les commandes des membres</p>
    </a>
    <a (click)="navigateToGestionEvenements()" class="dashboard-card">
      <div class="icon-container">
        <i class="fas fa-calendar-alt"></i>
      </div>
      <h3>Événements</h3>
      <p>Gérer les événements organisés par le club</p>
    </a>
  </div>
</div>