<div class="ajout-horaire">
  <h4>Ajouter un horaire</h4>
  <label for="jour">Jour :</label>
  <select id="jour" [(ngModel)]="jour">
    <option value="">-- Sélectionner --</option>
    <option value="Lundi">Lundi</option>
    <option value="Mardi">Mardi</option>
    <option value="Mercredi">Mercredi</option>
    <option value="Jeudi">Jeudi</option>
    <option value="Vendredi">Vendredi</option>
    <option value="Samedi">Samedi</option>
    <option value="Dimanche">Dimanche</option>
  </select>
  <label for="plage">Plage horaire :</label>
  <select id="plage" [(ngModel)]="plageHoraire">
    <option value="">-- Sélectionner --</option>
    <option value="8h - 9h">8h - 9h</option>
    <option value="9h - 10h">9h - 10h</option>
    <option value="10h - 11h">10h - 11h</option>
    <option value="11h - 12h">11h - 12h</option>
    <option value="14h - 15h">14h - 15h</option>
    <option value="15h - 16h">15h - 16h</option>
    <option value="16h - 17h">16h - 17h</option>
    <option value="17h - 18h">17h - 18h</option>
    <option value="18h - 19h">18h - 19h</option>
    <option value="19h - 20h">19h - 20h</option>
    <option value="20h - 21h">20h - 21h</option>
  </select>
  <button (click)="ajouter()">Ajouter</button>
</div>
