<div class="page-wrapper-standard">
  <header class="page-head">
    <h1 class="page-title">Galerie</h1>
    <p class="page-subtitle">Souvenirs et moments forts du club</p>
  </header>
  <section class="gallery-container">
    <div class="grid-gallery">
      <div class="grid-item" *ngFor="let image of images">
        <img [src]="image.imageUrl" [alt]="image.titre" />
        <h3>{{ image.titre }}</h3>
        <p>{{ image.description | slice: 0:100 }}...</p>
      </div>
    </div>
  </section>
</div>