<section id="testimonials" class="testimonials-section">
    <div class="container">
      <h2>Témoignages</h2>
      <button class="carousel-button left" (click)="scrollCarousel('left')">&#10094;</button>
      <div class="testimonial-carousel" #testimonialCarousel>
        <div class="testimonial-item" *ngFor="let avis of avisList">
          <img [src]="avis.photo" [alt]="avis.nom + ' ' + avis.prenom">
          <blockquote>"{{ avis.contenu }}"</blockquote>
          <p>{{ avis.nom }} {{ avis.prenom }}</p>
        </div>
      </div>
      <button class="carousel-button right" (click)="scrollCarousel('right')">&#10095;</button>
  
      <div class="testimonial-form-trigger">
        <p>Vous avez une expérience à partager ?</p>
        <button (click)="ouvrirModal()" class="btn-leave-review">Laisser mon avis</button>
      </div>
      
      <!-- Modal Structure -->
      <div class="modal" [class.show]="modalOuvert">
        <div class="modal-content">
          <span class="close-button" (click)="fermerModal()">&times;</span>
          <h3>Partagez votre expérience avec nous</h3>
          <form (ngSubmit)="soumettreAvis()">
            <div class="form-group">
              <label for="userName">Votre nom :</label>
              <input type="text" id="userName" [(ngModel)]="nouvelAvis.nom" name="nom" required>
            </div>
            <div class="form-group">
              <label for="userPrenom">Votre prénom :</label>
              <input type="text" id="userPrenom" [(ngModel)]="nouvelAvis.prenom" name="prenom" required>
            </div>
            <div class="form-group">
              <label for="userPhoto">Votre photo (URL) :</label>
              <input type="url" id="userPhoto" [(ngModel)]="nouvelAvis.photo" name="photo">
            </div>
            <div class="form-group">
              <label for="userTestimonial">Votre témoignage :</label>
              <textarea id="userTestimonial" [(ngModel)]="nouvelAvis.contenu" name="contenu" required></textarea>
            </div>
            <button type="submit" class="btn-submit-review">Envoyer votre témoignage</button>
          </form>
        </div>
      </div>
    </div>
  </section>