<footer>
    <div class="container footer-container">
      <div class="footer-about">
        <h3>À propos de nous</h3>
        <p>
          L'Olympique Taekwondo Villeurbannais est dédié à l'excellence en Taekwondo.
          Rejoignez-nous pour découvrir cet art martial et développer vos compétences.
        </p>
      </div>
      <div class="footer-links">
        <h3>Liens rapides</h3>
        <ul>
          <li><a href="index.html">Accueil</a></li>
          <li><a href="inscription.html">Inscriptions</a></li>
          <li><a href="tarifs.html">Tarifs</a></li>
          <li><a href="galerie.html">Galerie</a></li>
          <li><a href="contact.html">Contact</a></li>
        </ul>
      </div>
      <div class="footer-contact">
        <h3>Contact</h3>
        <p><i class="fas fa-map-marker-alt"></i> 4 Rue De Bat Yam, 69100 Villeurbanne</p>
        <p><i class="fas fa-phone-alt"></i> 06.63.97.89.26 / 07.65.82.67.72</p>
        <p>
            <i class="fas fa-envelope"></i>
            <a href="mailto:taekwondovilleurbannais&#64;gmail.com">taekwondovilleurbannais&#64;gmail.com</a>
          </p>
      </div>
      <div class="footer-social">
        <h3>Suivez-nous</h3>
        <a href="https://www.facebook.com/groups/127724277248941/"><i class="fab fa-facebook-f"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
      </div>
    </div>
    <div class="footer-bottom">
      <p>&copy; 2024 Olympique Taekwondo Villeurbannais. Tous droits réservés.</p>
      <ul>
        <li><a href="#">Mentions légales</a></li>
        <li><a href="#">Politique de confidentialité</a></li>
      </ul>
    </div>
    <a href="#top" class="back-to-top"><i class="fas fa-chevron-up"></i></a>
  </footer>