<section id="about" class="about-section">
    <div class="container">
        <h2>À propos de nous</h2>
        <div class="about-grid">
            <div class="about-text">
                <h3>Qui sommes-nous ?</h3>
                <p>L'Olympique Taekwondo Villeurbannais, fondé en 1995, est dédié à l'excellence en Taekwondo. Nous accueillons des pratiquants de tous niveaux dans un environnement de respect et de discipline.</p>
                <p>Notre mission est de former des athlètes non seulement sur le plan physique, mais aussi sur le plan mental, en mettant l'accent sur le développement personnel et la maîtrise de soi.</p>
            </div>
            <div class="about-image">
                <img class="imageClub" src="assets/images/image2.JPG" data-parallax="scroll">
            </div>
        </div>

        <div class="mv-values-grid">
            <div class="mv-card">
                <i class="fas fa-bullseye"></i>
                <h3>Notre Mission</h3>
                <p>Créer un environnement sûr et stimulant pour chaque pratiquant de Taekwondo.</p>
            </div>
            <div class="mv-card">
                <i class="fas fa-eye"></i>
                <h3>Notre Vision</h3>
                <p>Être un leader dans la promotion du Taekwondo et inspirer les générations futures.</p>
            </div>
            <div class="mv-card">
                <i class="fas fa-heart"></i>
                <h3>Nos Valeurs</h3>
                <ul>
                    <li><strong>Respect :</strong> Valoriser chaque individu et traiter tout le monde avec dignité.</li>
                    <li><strong>Discipline :</strong> Atteindre l'excellence par la persévérance.</li>
                    <li><strong>Excellence :</strong> S'efforcer d'être les meilleurs dans tout ce que nous entreprenons.</li>
                </ul>
            </div>
        </div>
    </div>
</section>

