    <!-- Hero Section -->
    <section id="home" class="hero-section">
        <video autoplay muted loop id="hero-video">
            <source src="assets/videos/video1.MOV" type="video/mp4">
            Votre navigateur ne supporte pas la vidéo.
        </video>
        <div class="overlay">
            <h1>Bienvenue à l'Olympique Taekwondo Villeurbannais</h1>
            <p>Découvrez la passion du Taekwondo avec des enseignants qualifiés.</p>
            <a href="inscription.html" class="cta-button">Inscrivez-vous maintenant</a>
        </div>
    </section>