:root {
    --blue-main: #1E6091;
    --blue-hover: #283a5a;
    --blue-dark: #1B263B;
    --red-main: #E63946;
    --accent-dark: #9e1b1b;
    --accent-hover: #e4b343;
    --text-main: #1e1e1e;
    --background-light: #fdfdfd;
    --card-bg: #f4f4f4;
    --shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  }
  
  
/* Réinitialisation globale */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}
