<ng-container *ngIf="routerLink; else normalButton">
  <a
    class="ui-btn"
    [ngClass]="buttonClasses"
    [routerLink]="disabled || loading ? null : routerLink"
    [attr.tabindex]="disabled || loading ? -1 : 0"
    [attr.aria-disabled]="disabled || loading ? 'true' : null"
    [attr.aria-label]="computedAriaLabel"
    [attr.title]="title || null"
    (click)="onClick($event)"
  >
    <i *ngIf="icon" [class]="icon" class="ui-btn-icon" aria-hidden="true"></i>
    <span *ngIf="label" class="ui-btn-label">{{ label }}</span>
    <span *ngIf="loading" class="spinner"></span>
  </a>
</ng-container>
<ng-template #normalButton>
  <button
    class="ui-btn"
    [ngClass]="buttonClasses"
    [disabled]="disabled || loading"
    (click)="onClick($event)"
    [attr.type]="type"
    [attr.aria-label]="computedAriaLabel"
    [attr.title]="title || null"
  >
    <i *ngIf="icon" [class]="icon" class="ui-btn-icon" aria-hidden="true"></i>
    <span *ngIf="label" class="ui-btn-label">{{ label }}</span>
    <span *ngIf="loading" class="spinner"></span>
  </button>
</ng-template>
